node_modules/
dist/
target/
website/src/data/*.json
scripts/msix/.cert/
*.msix
*.log
updater.key
updater.key.pub

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
.fleet/
